.Header__Info {
  display: flex;
  background-color: rgba(222, 222, 222, 0.931);
  position: fixed;
  width: 85%;
  height: 34%;
  top: 17rem;
  left: 8%;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
}

.FtSizeS {
  font-size: 0.9rem;
}

.Header__Info--InfoImg {
  width: 25%;
  background: linear-gradient(320deg, lightskyblue, rgb(25, 108, 160), rgb(97, 172, 218));
  border-radius: .8rem;
  margin-bottom: 1rem;
  margin-top: -6rem;
}

.Header__BlackScreen {
  width: 100%;
  background-color: rgba($color: black, $alpha: 0.3);
  position: fixed;
  top: 0rem;
  z-index: 9;
  height: 100%;
  left: 0rem;
}

.Header__Info__Btn--Close {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba($color: #da0000, $alpha: 1.0);
  width: 2rem;
  height: 2rem;
  font-size: 1.3em;
  border-radius: 2rem;
  font-weight: bold;
  color: white;
  border-color: red;
  border: solid;
}

@media only screen and (min-width: 1200px) {

  .Header__Info {
    max-width: 68%;
    left: 16%;
  }
  
  .Header__Info--InfoImg {
    width: 5%;
  }

  .FtSizeS {
    font-size: initial;
  }

}

@media only screen and (min-width: 587px) and (max-width: 1200px) {

  .Header__Info--InfoImg {
    width: 9%;
  }

}