form {
  display: flex;
  justify-content: center;
}

.pZipCode {
  text-shadow: 0.1em 0.1em 0.1em black;
  color: white;
  font-size: large;
  margin: 0em;
}

.buttonZipCode {
    border: thin;
    background: content-box;
    border-style: dashed;
    border-radius: 0.3em;
    border-bottom: double;
    &:active{
      transform: scale(0.9);
    }
}

.searchDone, .searchError {
  text-align: center;
  text-shadow: .01em .01em .1em rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
}

.searchDone {
  color: rgb(13, 228, 13);
}

.searchError {
  color: rgb(206, 32, 32);
}