.meteo {
  margin: 1.5rem 1rem;
  max-width: 280px;
  box-shadow: 0.1em 0.1em 0.1em white;
  text-shadow: 0.1em 0.1em 0.1em black;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 10px; 
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.14);
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  &-city {
    font-size: 1.5em;
    font-weight: bold;
  }

  &-code {
    opacity: .25;
    margin-bottom: 0.7rem;
  }

  &-temperature {
    font-size: 2em;
    font-weight: bold;
  }
}

.meteo:hover {
  transform: scale(1.1);
}


.meteo p {
  margin-bottom: 0em;
}

.temps {
  padding-left: 2em;
  display: flex;
  width: 5em;
  flex-direction: column;
}